<div class="relative">
  <svg width="100%" [attr.height]="height" [attr.viewBox]="`0 0 ${width} ${height}`" class="overflow-visible">
    <!-- Líneas de cuadrícula horizontales -->
    @for (item of [1,2,3,4,5]; track $index) {
    @let y = padding + $index * (chartHeight / 4);
    @let value = maxValue() - $index * (valueRange() / 4);
    <g>
      <line [attr.x1]="padding" [attr.y1]="y" [attr.x2]="width - padding" [attr.y2]="y" stroke="#334155"
        stroke-width="1" stroke-dasharray="4 4" />
      <text [attr.x]="padding + 20" [attr.y]="y" text-anchor="end" alignment-baseline="middle"
        class="fill-gray-400 text-[10px] select-none">
        {{value.toLocaleString()}}
      </text>
    </g>
    }

    <!-- Líneas de cuadrícula verticales y etiquetas -->
    @for (point of data(); track $index) {
    @let x = scaleX($index);
    <g>
      <!-- <line [attr.x1]="x" [attr.y1]="padding" [attr.x2]="x" [attr.y2]="height - padding" stroke="#334155"
        stroke-width="1" stroke-dasharray="4 4" /> -->
      <text [attr.x]="x" [attr.y]="height + 18" text-anchor="middle"
        class="fill-gray-400 text-sm capitalize select-none">
        {{point.label}}
      </text>
    </g>
    }

    <!-- Área bajo la línea -->
    <path d={areaPath} fill="url(#gradient)" opacity="0.1"></path>

    <!-- Línea principal -->
    <path [attr.d]="linePath()" fill="none" stroke="#A5B4FC" stroke-width="3" stroke-linecap="round"
      stroke-linejoin="round" class="transition-all duration-300 ease-in-out"></path>

    <!-- Puntos de datos -->
    @for (point of data(); track $index) {
    <circle [attr.cx]="scaleX($index)" [attr.cy]="scaleY(point.value)" r="6"
      class="peer fill-navy-800 stroke-[#A5B4FC] stroke-[3]"></circle>
    <circle [attr.cx]="scaleX($index)" [attr.cy]="scaleY(point.value)" r="12" class="peer fill-[#A5B4FC] opacity-10">
    </circle>
    <text [attr.x]="scaleX($index)" [attr.y]="scaleY(point.value) - 20" text-anchor="middle"
      class="fill-white text-[10px] font-medium opacity-0 select-none peer-hover:opacity-100 peer-active:opacity-100">
      {{point.value.toLocaleString()}}
    </text>
    }

    <!-- Gradiente para el área bajo la línea -->
    <defs>
      <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
        <stop offset="0%" stop-color="#A5B4FC" stop-opacity="0.5"></stop>
        <stop offset="100%" stop-color="#A5B4FC" stop-opacity="0"></stop>
      </linearGradient>
    </defs>
  </svg>
</div>