<aside
    class="drawer-bottom border-tertiary bg-tertiary invisible absolute top-100 right-0 bottom-100 left-0 translate-y-full overflow-hidden rounded-t-2xl border p-4 transition-all duration-300 ease-in-out">
    <header class="mb-8 flex items-center justify-between">
        <button
            class="hide-aside rounded-full border border-white/90 p-2 text-white hover:cursor-pointer hover:opacity-80">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 -rotate-90" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                    d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"></path>
            </svg>
        </button>
        <!-- <UserAvatar /> -->
    </header>
    <ng-content></ng-content>
</aside>